<div layout="column" ng-cloak class="container">

    <md-card>
        <md-card-title>
            <md-card-title-media class="margin-top-0">
                <div class="card-media" layout>
                    <md-button ui-sref="jobCard" class="md-raised">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                        Back
                    </md-button>
                </div>
            </md-card-title-media>
            <md-card-title-text class="padding-left-50">
                <span class="md-headline">Job</span>
                <span class="md-subhead description">Create a new job</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>


    <md-content layout-padding>

        <form name="jobCardForm" ng-submit="jobCardSetUp.createJob(jobCardForm)" novalidate>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Job</label>
                    <input minlength="3" md-maxlength="30" required name="jobName" ng-model="job.name">
                    <div ng-messages="jobCardForm.jobName.$error" multiple>
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The name must be more than 3 characters long.</div>
                    </div>
                </md-input-container>


                <!--<md-input-container flex="50">-->
                    <!--<label>Select Designation</label>-->
                    <!--<md-select ng-model="employer.designation" required>-->
                        <!--<md-option ng-repeat="designation in employerSetUp.designations" value="{{designation._id}}">-->
                            <!--{{designation.designation_name}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->

            </div>

            <div>
                <md-button ng-disabled="jobCardForm.$invalid" class="pull-right md-raised md-button" type="submit">Create</md-button>
            </div>

        </form>

    </md-content>

</div>
