<div layout="column" ng-cloak>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <p>Use <code>md-autocomplete</code> to search for matches from local or remote data sources.</p>
            <md-autocomplete
                    ng-disabled="jobCardSetUp.isDisabled"
                    md-no-cache="jobCardSetUp.noCache"
                    md-selected-item="jobCardSetUp.selectedItem"
                    md-search-text-change="jobCardSetUp.searchTextChange(jobCardSetUp.searchText)"
                    md-search-text="jobCardSetUp.searchText"
                    md-selected-item-change="jobCardSetUp.selectedItemChange(item)"
                    md-items="item in jobCardSetUp.querySearch(jobCardSetUp.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="What is your favorite US state?">
                <md-item-template>
                    <span md-highlight-text="jobCardSetUp.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{jobCardSetUp.searchText}}" were found.
                    <a ng-click="jobCardSetUp.newState(jobCardSetUp.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
            <br/>
            <md-checkbox ng-model="jobCardSetUp.simulateQuery">Simulate query for results?</md-checkbox>
            <md-checkbox ng-model="jobCardSetUp.noCache">Disable caching of queries?</md-checkbox>
            <md-checkbox ng-model="jobCardSetUp.isDisabled">Disable the input?</md-checkbox>

            <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
        </form>
    </md-content>
</div>
