<div layout="column" ng-cloak class="container">

    <md-card>
        <md-card-title>
            <md-card-title-media class="margin-top-0">
                <div class="card-media" layout>
                    <md-button ui-sref="jobCard" class="md-raised">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
                    </md-button>
                </div>
            </md-card-title-media>
            <md-card-title-text class="padding-left-50">
                <span class="md-headline">Job</span>
                <span class="md-subhead description">Create a new job</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>


    <md-content layout-padding>

        <form name="jobCardForm" ng-submit="employerSetUp.createEmployer(jobCardForm)" novalidate>

            <div layout="row">

                <md-input-container flex="50">
                    <label>Job</label>
                    <input minlength="3" md-maxlength="30" name="jobCardName" ng-model="jobCard.name" required>
                    <div ng-messages="jobCardForm.jobCardName.$error" multiple>
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The name must be more than 3 characters long.</div>
                    </div>
                </md-input-container>


                <md-input-container flex="50">
                    <label>Reason</label>
                    <input minlength="3" md-maxlength="30" name="jobCardReason" ng-model="jobCard.reason">
                    <div ng-messages="jobCardForm.jobCardReason.$error" multiple>
                        <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The name must be more than 3 characters long.</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">

                <md-input-container flex="50">
                    <label>Terms</label>
                    <input minlength="3" md-maxlength="30" name="jobCardTerms" ng-model="jobCard.terms">
                    <div ng-messages="jobCardForm.jobCardTerms.$error" multiple>
                        <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The name must be more than 3 characters long.</div>
                    </div>
                </md-input-container>


                <md-input-container flex="50">
                    <label>Fee</label>
                    <input type="number" min="0" name="jobCardFee" ng-model="jobCard.fee" required>
                    <div ng-messages="jobCardForm.jobCardFee.$error" multiple>
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The name must be more than 3 characters long.</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">

                <md-autocomplete style="margin: 8px 2px 0px 0px"
                                 flex="30"
                                 md-no-cache="jobCardSetUp.noCache"
                                 md-selected-item="jobCardSetUp.selectedItem"
                                 md-search-text-change="jobCardSetUp.searchTextChange(jobCardSetUp.searchText)"
                                 md-search-text="jobCardSetUp.searchText"
                                 md-selected-item-change="jobCardSetUp.selectedItemChange(item)"
                                 md-items="item in jobCardSetUp.querySearch(jobCardSetUp.searchText)"
                                 md-item-text="item.Vehicle_model.vehicle_model_name"
                                 md-min-length="0"
                                 placeholder="Select Motorcycle">
                    <md-item-template>
                        <span md-highlight-text="jobCardSetUp.searchText" md-highlight-flags="^i">{{item.Vehicle_model.vehicle_model_name}}</span>
                    </md-item-template>

                    <md-not-found>
                        No motorcycle were found.
                    </md-not-found>

                </md-autocomplete>

                <md-chips flex="30"
                          ng-model="selectedEmployees"
                          md-autocomplete-snap
                          md-require-match="true">
                    <md-autocomplete
                            md-search-text="searchEmployee"
                            md-items="employee in queryEmployees(searchEmployee)"
                            md-item-text="employee.employee_name"
                            md-autoselect="true"
                            md-select-on-match="true"
                            md-no-cache="true"
                            md-require-match="true"
                            placeholder="Select Mistry">
                        <span md-highlight-text="searchText">{{employee.employee_name}}</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <span>{{$chip.employee_name}}</span>
                    </md-chip-template>

                </md-chips>

                <!--<md-chips flex="30"-->
                          <!--ng-model="selectedProblems"-->
                          <!--md-autocomplete-snap-->
                          <!--md-require-match="true">-->
                    <!--<md-autocomplete-->
                            <!--md-search-text="searchProblem"-->
                            <!--md-items="problem in queryProblems(searchProblem)"-->
                            <!--md-item-text="problem.problem_name"-->
                            <!--md-autoselect="true"-->
                            <!--md-select-on-match="true"-->
                            <!--md-no-cache="true"-->
                            <!--md-require-match="true"-->
                            <!--placeholder="Select problems">-->
                        <!--<span md-highlight-text="searchText">{{problem.problem_name}}</span>-->
                    <!--</md-autocomplete>-->
                    <!--<md-chip-template>-->
                        <!--<span>{{$chip.problem_name}}</span>-->
                    <!--</md-chip-template>-->
                <!--</md-chips>-->


            </div>

            <div>
                <md-button ng-disabled="jobCardForm.$invalid" class="pull-right md-raised md-button" type="submit">
                    Create
                </md-button>
            </div>

        </form>

    </md-content>

</div>


