<div ng-init="jobCardView.onInit();" class="paddingTop-10 container">

    <button type="button" ui-sref="jobCardSetup" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add New Job
    </button>

    <table st-table="displayedCollection" st-safe-src="jobCard.jobs" class="table table-striped">
        <thead>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        </tr>
        <tr>
            <th st-sort="name">Name</th>
            <th st-sort="name">Reason</th>
            <th st-sort="address">Terms</th>
            <th st-sort="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.job_name}}</td>
            <td>{{row.job_reason}}</td>
            <td>{{row.job_terms}}</td>
            <td>
                <button type="button" ng-click="jobCard.showJob(row)" class="btn btn-sm btn-info">
                    <i class="glyphicon glyphicon-eye-open">
                    </i>
                </button>

                <button type="button" ng-click="jobCard.editJob(row)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                    </i>
                </button>

                <button type="button" ng-click="jobCard.deleteJob($event, row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="jobCard.itemsByPage" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>


</div>


<script type="text/ng-template" id="showJob.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div layout="column" ng-cloak class="md-inline-form">

                        <md-content layout-gt-sm="row" layout-padding>
                            <div>

                                <md-input-container>
                                    <label>Assigned Vehicle</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.Vehicle_model.vehicle_model_name">
                                </md-input-container>

                                <md-input-container>
                                    <label>Vehicle Engine No</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.vehicle_master_engine_no">
                                </md-input-container>

                                <md-input-container>
                                    <label>Vehicle Chassis No</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.vehicle_master_chassis_no">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Job name</label>
                                    <input ng-readonly="true" ng-model=" job.job_name">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Reason</label>
                                    <input ng-readonly="true" ng-model="job.job_reason">
                                </md-input-container>

                            </div>
                        </md-content>

                        <md-content>
                            <md-list flex>
                                <h4 class="md-no-sticky">Problems of the vehicle</h4>
                                <md-list-item class="md-3-line" ng-repeat="problem in job.problems" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>Name: {{ problem.problem_name }}</h3>
                                        <h4>Fee: {{problem.problem_fee}}</h4>
                                        <p>Descriptions: {{problem.problem_description}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>

                        <md-content>
                            <md-list flex>
                                <h4 class="md-no-sticky">This job has assigned to </h4>
                                <md-list-item class="md-3-line" ng-repeat="employee in job.employees" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>Name: {{ employee.employee_name }}</h3>
                                        <h3>Level: {{employee.Designation.designation_level}}</h3>
                                        <p>Designation: {{employee.Designation.designation_name}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editJob.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <ui-select multiple
                               ng-model="selectedVehicle"
                               theme="bootstrap"
                               sortable="true"
                               close-on-select="false"
                               style="width: 500px;">

                        <ui-select-match placeholder="Select vehicle">{{$item.Vehicle_model.vehicle_model_name}}</ui-select-match>

                        <ui-select-choices repeat="vehicle in vehicles | propsFilter: {vehicle_master_chassis_no: $select.search, vehicle_master_engine_no: $select.search}">
                            <div ng-bind-html="vehicle.Vehicle_model.vehicle_model_name | highlight: $select.search"></div>

                            <small>
                                chassis_no: {{vehicle.vehicle_master_chassis_no}}
                                engine_no: {{vehicle.vehicle_master_engine_no}}
                            </small>
                        </ui-select-choices>
                    </ui-select>




                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
