<div ng-init="jobCardView.onInit();" class="paddingTop-10 container">

    <button type="button" ui-sref="jobCardSetup" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add New Job
    </button>

    <button type="button" ui-sref="problem" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-list">
        </i> Problem List
    </button>

    <table st-table="displayedCollection" st-safe-src="jobCard.jobs" class="table table-striped">
        <thead>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        </tr>
        <tr>
            <th st-sort="name">Name</th>
            <th st-sort="name">Reason</th>
            <th st-sort="address">Terms</th>
            <th st-sort="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.job_name}}</td>
            <td>{{row.job_reason}}</td>
            <td>{{row.job_terms}}</td>
            <td>
                <button type="button" ng-click="jobCard.showJob(row)" class="btn btn-sm btn-info">
                    <i class="glyphicon glyphicon-eye-open">
                    </i>
                </button>

                <button type="button" ng-click="jobCard.editJob(row)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                    </i>
                </button>

                <button type="button" ng-click="jobCard.deleteJob($event, row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="jobCard.itemsByPage" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>


</div>


<script type="text/ng-template" id="showJob.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div layout="column" ng-cloak class="md-inline-form">

                        <md-content layout-gt-sm="row" layout-padding>
                            <div>

                                <md-input-container>
                                    <label>Assigned Vehicle</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.Vehicle_model.vehicle_model_name">
                                </md-input-container>

                                <md-input-container>
                                    <label>Vehicle Engine No</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.vehicle_master_engine_no">
                                </md-input-container>

                                <md-input-container>
                                    <label>Vehicle Chassis No</label>
                                    <input ng-readonly="true" ng-model=" job.Vehicle_master.vehicle_master_chassis_no">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Job name</label>
                                    <input ng-readonly="true" ng-model=" job.job_name">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Reason</label>
                                    <input ng-readonly="true" ng-model="job.job_reason">
                                </md-input-container>

                            </div>
                        </md-content>

                        <md-content>
                            <md-list flex>
                                <h4 class="md-no-sticky">Problems of the vehicle</h4>
                                <md-list-item class="md-3-line" ng-repeat="problem in job.problems" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>Name: {{ problem.problem_name }}</h3>
                                        <h4>Fee: {{problem.problem_fee}}</h4>
                                        <p>Descriptions: {{problem.problem_description}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>

                        <md-content>
                            <md-list flex>
                                <h4 class="md-no-sticky">This job has assigned to </h4>
                                <md-list-item class="md-3-line" ng-repeat="employee in job.employees" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>Name: {{ employee.employee_name }}</h3>
                                        <h3>Level: {{employee.Designation.designation_level}}</h3>
                                        <p>Designation: {{employee.Designation.designation_name}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editJob.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Edit Job Information</p>

                    <form name="jobFrom" novalidate show-validation>

                        <div layout="column" ng-cloak class="margin-top-20">
                            <md-content layout-padding>

                                <md-input-container class="md-block">
                                    <label>Name</label>
                                    <input minlength="3" md-maxlength="30" name="jobName" required
                                           ng-model="jobs.job_name">

                                    <div ng-messages="jobFrom.jobName.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must write a job
                                            name.
                                        </div>
                                        <div ng-message="md-maxlength">The name must be less than 30 characters
                                            long.
                                        </div>
                                        <div ng-message="minlength">The name must be more than 3 characters long.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Reason</label>
                                    <input minlength="3" md-maxlength="30" name="jobReason" required
                                           ng-model="jobs.job_reason">

                                    <div ng-messages="jobFrom.jobReason.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must write a reason
                                            name.
                                        </div>
                                        <div ng-message="md-maxlength">The name must be less than 30 characters
                                            long.
                                        </div>
                                        <div ng-message="minlength">The name must be more than 3 characters long.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block margin-none">
                                    <label>Terms</label>
                                    <input minlength="3" md-maxlength="30" name="jobTerms" required
                                           ng-model="jobs.job_terms">

                                    <div ng-messages="jobFrom.jobTerms.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must write a terms
                                            name.
                                        </div>
                                        <div ng-message="md-maxlength">The terms must be less than 30 characters
                                            long.
                                        </div>
                                        <div ng-message="minlength">The terms must be more than 3 characters long.
                                        </div>
                                    </div>
                                </md-input-container>


                                <span class="margin-top-10 font-small">Change Motorcycle Model</span>



                                <ui-select
                                        required
                                        ng-model="selectedVehicle.list"
                                        theme="bootstrap"
                                        style="min-width: 600px; margin-top: 15px"
                                        title="Choose a model">

                                    <ui-select-match placeholder="Select a motorcycle in the list or search his name">
                                        {{$select.selected.Vehicle_model.vehicle_model_name}}
                                    </ui-select-match>



                                    <ui-select-choices repeat="vehicle in vehicles | propsFilter: {vehicle_master_chassis_no: $select.search, vehicle_master_engine_no: $select.search}">
                                        <div ng-bind-html="vehicle.Vehicle_model.vehicle_model_name | highlight: $select.search"></div>
                                        <small>
                                            chassis_no: {{vehicle.vehicle_master_chassis_no}}
                                            engine_no: <span ng-bind-html="''+vehicle.vehicle_master_engine_no | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>



                                <span class="margin-top-10 font-small">Change Assigned Problem</span>

                                <ui-select required
                                           multiple
                                           ng-model="selectedProblem.list"
                                           theme="bootstrap"
                                           sortable="true"
                                           close-on-select="false"
                                           style="width: 600px; margin-top: 15px">

                                    <ui-select-match placeholder="Select Problems">{{$item.problem_name}}
                                    </ui-select-match>

                                    <ui-select-choices repeat="problem in problems | propsFilter: {problem_name: $select.search}">
                                        <div ng-bind-html="problem.problem_name | highlight: $select.search"></div>

                                        <small>
                                            chassis_no: {{problem.problem_description}}
                                            engine_no: {{problem.problem_fee}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>


                                <span class="margin-top-10 font-small">Change Assigned Employee</span>

                                <ui-select required
                                           multiple
                                           ng-model="selectedEmployee.list"
                                           theme="bootstrap"
                                           sortable="true"
                                           close-on-select="false"
                                           style="width: 600px; margin-top: 15px">

                                    <ui-select-match placeholder="Select Employee">{{$item.employee_name}}
                                    </ui-select-match>

                                    <ui-select-choices repeat="employee in employees | propsFilter: {employee_name: $select.search}">
                                        <div ng-bind-html="employee.employee_name | highlight: $select.search"></div>

                                        <small>
                                            chassis_no: {{employee.Designation.designation_name}}
                                            engine_no: {{employee.Designation.designation_level}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>


                            </md-content>


                        </div>

                        <div>
                            <md-button ng-disabled="jobFrom.$invalid"
                                       ng-click="updateJobFrom($event, jobFrom)" class="md-raised md-button"
                                       type="submit">Update
                            </md-button>
                        </div>

                    </form>


                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
