<div layout="column" ng-cloak class="container">

    <md-card>
        <md-card-title>
            <md-card-title-media class="margin-top-0">
                <div class="card-media" layout>
                    <md-button ui-sref="sale" class="md-raised">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Back
                    </md-button>

                </div>
            </md-card-title-media>
            <md-card-title-text class="padding-left-50">
                <span class="md-headline">Sale</span>
                <span class="md-subhead description">Sell a new motorcycle</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <md-content layout-padding>

        <form name="sellForm" ng-submit="saleNew.newSale(sellForm)" novalidate>

            <div layout="row">
                <md-input-container flex="30">
                    <label>Chassis Number</label>
                    <input minlength="3" md-maxlength="30" name="chassisNo" ng-model="vehicle.chassisNo"
                           required>

                    <div ng-messages="sellForm.chassisNo.$error" multiple>

                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The chassis number must be less than 30 characters long.</div>
                        <div ng-message="minlength">The chassis number must be more than 3 characters long.</div>

                    </div>
                </md-input-container>

                <md-input-container flex="30">
                    <label>Engine Number</label>
                    <input minlength="3" md-maxlength="30" name="engineNo" ng-model="vehicle.engineNo" required>

                    <div ng-messages="sellForm.engineNo.$error" multiple>

                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The engine number must be less than 30 characters long.</div>
                        <div ng-message="minlength">The engine number must be more than 3 characters long.</div>

                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Free service Number</label>
                    <input min="4" name="freeServiceNumber" ng-model="customer.freeServiceNumber" required>

                    <div ng-messages="sellForm.freeServiceNumber.$error" multiple>
                        <div ng-message="required">This is required.</div>
                    </div>

                </md-input-container>

            </div>

            <div layout="row">
                <md-input-container flex="30">
                    <label>Customer name</label>
                    <input minlength="3" md-maxlength="30" name="customerName" ng-model="customer.customerName"
                           required>

                    <div ng-messages="sellForm.customerName.$error" multiple>

                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The customer name must be less than 30 characters long.</div>
                        <div ng-message="minlength">The customer name must be more than 3 characters long.</div>

                    </div>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm>
                    <label>Phone Number</label>
                    <input min="0" name="customerPhone" ng-model="customer.customerPhone" required>

                    <div ng-messages="sellForm.customerPhone.$error" multiple>
                        <div ng-message="required">This is required.</div>
                    </div>

                </md-input-container>

            </div>

            <md-input-container class="md-block">
                <label>Customer Address</label>
                <input minlength="3" md-maxlength="40" md-no-asterisk name="customerAddress" ng-model="customer.customerAddress"
                       required>
                <div ng-messages="sellForm.customerAddress.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The address must be less than 40 characters long.</div>
                    <div ng-message="minlength">The address must be more than 3 characters long.</div>
                </div>
            </md-input-container>

            <div layout="row" class="margin-top-40">

                <md-input-container flex="30">
                    <label>Price</label>
                    <input type="number" md-no-asterisk name="price" ng-model="salesDetails.price" required min="0">
                    <div ng-messages="sellForm.price.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                   <md-input-container flex="30">
                    <label>Discount</label>
                    <input type="number" md-no-asterisk name="discount" ng-model="salesDetails.discount" required min="0">
                    <div ng-messages="sellForm.discount.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="30">
                    <label>Total Price: <strong>{{salesDetails.price - salesDetails.discount}}</strong></label>
                </md-input-container>

            </div>


            <div layout="row" class="margin-top-40">

                <md-input-container flex="30">
                    <label>Motorcycle Model</label>

                    <md-select ng-model="selectedModel">
                        <md-option ng-repeat="model in saleNew.models" value="{{model._id}}">
                            {{model.vehicle_model_name}}
                        </md-option>
                    </md-select>

                </md-input-container>

                <md-input-container flex="30">
                    <label>Motorcycle Color</label>

                    <md-select ng-model="selectedColor">
                        <md-option ng-repeat="color in colors" value="{{color._id}}">
                            {{color.name}}
                        </md-option>
                    </md-select>

                </md-input-container>

                <md-input-container flex="30">
                    <label>Reference</label>
                    <input md-no-asterisk name="internalReference" ng-model="salesDetails.internalReference" required min="0">
                    <div ng-messages="sellForm.internalReference.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row" class="margin-top-40">

                <md-input-container flex="50">
                    <label>Sales Descriptions</label>
                    <input md-no-asterisk name="saleDescriptions" ng-model="saleDescriptions" required>
                    <div ng-messages="sellForm.saleDescriptions.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="50">
                    <label>Sold By</label>

                    <md-select ng-model="selectedEmployer">
                        <md-option ng-repeat="employee in saleNew.employees" value="{{employee._id}}">
                            {{employee.employee_name}}
                        </md-option>
                    </md-select>

                </md-input-container>

            </div>


            <div class="pull-right">
                <md-button ng-disabled="sellForm.$invalid" class="md-raised md-button" type="submit">Create</md-button>
            </div>

        </form>

    </md-content>

</div>
