<div ng-init="vehicle.onInit();" class="paddingTop-10 container">

    <button type="button" ui-sref="vehicleSetUp" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add New vehicle
    </button>

    <table st-table="displayedCollection" st-safe-src="vehicle.vehicles" class="table table-striped">
        <thead>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        </tr>
        <tr>
            <th st-sort="chassisNo">Chassis Number</th>
            <th st-sort="engineNo">Engine Number</th>
            <th st-sort="model">Model Number</th>
            <th st-sort="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.vehicle_master_chassis_no}}</td>
            <td>{{row.vehicle_master_engine_no}}</td>
            <td>{{row.Vehicle_model.vehicle_model_name}}</td>

            <td>
                <button type="button" ng-click="vehicle.showVehicle(row)" class="btn btn-sm btn-info">
                    <i class="glyphicon glyphicon-eye-open">
                    </i>
                </button>

                <button type="button" ng-click="vehicle.editVehicle(row)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                    </i>
                </button>

                <button type="button" ng-click="vehicle.deleteVehicle($event, row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="vehicle.itemsByPage" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/ng-template" id="showVehicle.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>vehicle details</p>

                    <div layout="column" ng-cloak class="md-inline-form">

                        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                            <div>
                                <md-input-container class="md-block">
                                    <label>Model</label>
                                    <input ng-readonly="true" ng-model="vehicle.Vehicle_model.vehicle_model_name">
                                </md-input-container>

                                <md-input-container>
                                    <label>Chassis</label>
                                    <input ng-readonly="true" ng-model="vehicle.vehicle_master_chassis_no">
                                </md-input-container>

                                <md-input-container>
                                    <label>Engine</label>
                                    <input ng-readonly="true" ng-model="vehicle.vehicle_master_engine_no">
                                </md-input-container>
                            </div>
                        </md-content>

                        <md-content layout-padding>
                            <div>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Descriptions</label>
                                    <input ng-readonly="true" ng-model="vehicleDetails.vehicle_detail_description">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Vehicle details name</label>
                                    <input ng-readonly="true" ng-model="vehicleDetails.vehicle_detail_name">
                                </md-input-container>

                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block">
                                        <label>Last Grade</label>
                                        <input ng-readonly="true"
                                               ng-model="vehicleDetails.vehicle_detail_last_grade">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Last Mileage</label>
                                        <input ng-readonly="true"
                                               ng-model="vehicleDetails.vehicle_detail_last_milage">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Vehicle free service</label>
                                        <input ng-readonly="true"
                                               ng-model="vehicleDetails.vehicle_details_total_free_service">
                                    </md-input-container>

                                    <div flex-gt-sm="50">
                                        <span>Free Status</span>
                                        <md-checkbox
                                                ng-model="vehicleDetails.vehicle_detail_free_service_status"></md-checkbox>
                                    </div>
                                </div>

                                <div layout-gt-xs="row">
                                    <md-input-container class="" flex-gt-xs>
                                        <label>Service Date</label><br>
                                        <span>{{vehicleDetails.vehicle_detail_allocated_service_date | dateStringFilter}}</span>

                                    </md-input-container>

                                    <md-input-container class="" flex-gt-xs>
                                        <label>Vehicle sales date</label><br>
                                        <p>{{vehicleDetails.vehicle_detail_sales_date | dateStringFilter}}</p>
                                    </md-input-container>

                                    <md-input-container class="" flex-gt-xs>
                                        <label>Vehicle service date</label><br>
                                        <p>{{vehicleDetails.vehicle_detail_service_date | dateStringFilter}}</p>

                                    </md-input-container>

                                    <md-input-container class="" flex-gt-xs>
                                        <label>Vehicle import date</label><br>
                                        <p>{{vehicleDetails.vehicle_details_import_date | dateStringFilter}}</p>

                                    </md-input-container>
                                </div>


                                <md-input-container class="md-block">
                                    <label>Dealer name</label>
                                    <input ng-readonly="true" ng-model="vehicleDetails.Dealer.dealer_name">
                                </md-input-container>

                                <md-input-container>
                                    <label>Dealer phone</label>
                                    <input ng-readonly="true" ng-model="vehicleDetails.Dealer.dealer_phone">
                                </md-input-container>

                                <md-input-container>
                                    <label>Dealer Type</label>
                                    <input ng-readonly="true" ng-model="vehicleDetails.Dealer.dealer_type">
                                </md-input-container>

                            </div>

                        </md-content>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editVehicle.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="vehicleFrom" novalidate show-validation>

                        <div class="row" class="margin-top-15">
                            <span>Change Motorcycle Model</span>
                            <select
                                    class="form-control"
                                    ng-options="model._id as model.vehicle_model_name for model in vehicleModels"
                                    ng-model="vehicle.VehicleModelId">
                            </select>
                        </div>

                        <div layout-wrap layout-gt-sm="row" class="margin-top-15">
                            <div flex-gt-sm="50">
                                <md-checkbox ng-model="vehicleDetail.vehicle_detail_free_service_status" aria-label="Free Status">
                                    Free Status
                                </md-checkbox>
                            </div>
                        </div>


                        <div layout="column" ng-cloak class="md-inline-form ">

                            <md-content layout-padding>
                                <md-input-container>
                                    <label>Chassis</label>
                                    <input ng-model="vehicle.vehicle_master_chassis_no">
                                </md-input-container>

                                <md-input-container>
                                    <label>Engine</label>
                                    <input ng-model="vehicle.vehicle_master_engine_no">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Descriptions</label>
                                    <input ng-model="vehicleDetail.vehicle_detail_description">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Vehicle details name</label>
                                    <input ng-model="vehicleDetail.vehicle_detail_name">
                                </md-input-container>


                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Last Grade</label>
                                        <input ng-model="vehicleDetail.vehicle_detail_last_grade">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Last Mileage</label>
                                        <input ng-model="vehicleDetail.vehicle_detail_last_milage">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Vehicle free service</label>
                                        <input ng-model="vehicleDetail.vehicle_details_total_free_service">
                                    </md-input-container>
                                </div>


                            </md-content>

                            <div layout-gt-xs="row">
                                <datepicker date-format="EEE, dd-MMM-yyyy" selector="form-control" class="padding-5">
                                    <label>Allocated Service Date</label>
                                    <div class="input-group ">
                                        <input class="form-control"
                                               ng-model="vehicleDetail.vehicle_detail_allocated_service_date"/>
                                                <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                    </div>
                                </datepicker>


                                <datepicker date-format="EEE, dd-MMM-yyyy" selector="form-control" class="padding-5">
                                    <label>Sales Date</label>
                                    <div class="input-group">
                                        <input class="form-control" ng-model="vehicleDetail.vehicle_detail_sales_date"/>
                                                <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div layout-gt-xs="row" class="margin-top-15">
                                <datepicker date-format="EEE, dd-MMM-yyyy" selector="form-control" class="padding-5">
                                    <label>Service Date</label>
                                    <div class="input-group">
                                        <input class="form-control"
                                               ng-model="vehicleDetail.vehicle_detail_service_date"/>
                                                <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                    </div>
                                </datepicker>


                                <datepicker date-format="EEE, dd-MMM-yyyy" selector="form-control" class="padding-5">
                                    <label>Import Date</label>
                                    <div class="input-group ">
                                        <input class="form-control"
                                               ng-model="vehicleDetail.vehicle_details_import_date"/>
                                                <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                    </div>
                                </datepicker>
                            </div>

                            <!--<md-input-container class="md-block">-->
                            <!--<label>Dealer name</label>-->
                            <!--<input ng-model="vehicleDetail.Dealer.dealer_name">-->
                            <!--</md-input-container>-->

                            <!--<md-input-container>-->
                            <!--<label>Dealer phone</label>-->
                            <!--<input ng-model="vehicleDetail.Dealer.dealer_phone">-->
                            <!--</md-input-container>-->

                            <!--<md-input-container>-->
                            <!--<label>Dealer Type</label>-->
                            <!--<input ng-model="vehicleDetail.Dealer.dealer_type">-->
                            <!--</md-input-container>-->

                        </div>

                        <div class="row margin-top-15">
                            <span>Change Dealer</span>
                            <select
                                    class="form-control"
                                    ng-options="model._id as model.vehicle_model_name for model in vehicleModels"
                                    ng-model="vehicle.VehicleModelId">
                            </select>
                        </div>

                        <div class="margin-top-15">
                            <md-button ng-disabled="updateVehicleFrom.$invalid"
                                       ng-click="updateVehicleFrom($event, vehicleFrom)" class="md-raised md-button"
                                       type="submit">Update
                            </md-button>
                        </div>

                    </form>

                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>


