<div ng-init="dealer.onInit();" class="paddingTop-10 container">

    <button type="button" ui-sref="dealerSetUp" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add New Dealer
    </button>

    <table st-table="displayedCollection" st-safe-src="dealer.dealers" class="table table-striped">
        <thead>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        </tr>
        <tr>
            <th st-sort="id">Id</th>
            <th st-sort="name">Name</th>
            <th st-sort="address">Address</th>
            <th st-sort="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row._id}}</td>
            <td>{{row.dealer_name}}</td>
            <td>{{row.dealer_address}}</td>
            <td>
                <button type="button" ng-click="dealer.removeItem(row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
