<div layout="column" ng-cloak class="container">

    <md-card>
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-sm card-media" layout>
                    <!--<md-icon md-svg-icon="person" style="color:grey"></md-icon>-->
                </div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">Dealer</span>
                <span class="md-subhead description">Enter dealer details to create a new dealer</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>


    <md-content layout-padding>
        <form name="dealerForm">
            <div layout="row">
                <md-input-container flex="50">
                    <label>Dealer Name</label>
                    <input required name="dealerName" ng-model="dealer.dname">
                    <div ng-messages="dealerForm.dealerName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="50">
                    <label>Dealer Type</label>
                    <md-select name="type" ng-model="dealer.type" required>
                        <md-option value="permanent">Permanent</md-option>
                        <md-option value="temporary">Temporary</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Address</label>
                <input md-maxlength="30" required md-no-asterisk name="address" ng-model="dealer.address">
                <div ng-messages="dealerForm.address.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The address must be less than 30 characters long.</div>
                </div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Dealer Email</label>
                <input required type="email" name="dealerEmail" ng-model="dealer.email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="dealerForm.dealerEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number</label>
                <input name="phone" ng-model="dealer.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />

                <div class="hint" ng-show="showHints">(###) ###-####</div>

                <div ng-messages="dealerForm.phone.$error" ng-hide="showHints">
                    <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
            </md-input-container>

            <div>
                <md-button class="md-raised md-button" type="submit">Submit</md-button>
            </div>

        </form>
    </md-content>

</div>
