<div class="container">
    <div class="mainDiv">
        <h2>Users</h2>
        <div class="row">
            <div class="col-md-4 padding-0">
                <button class="btn btn-primary" ng-click="userManagement.createUser();">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Profiles</th>
                    <th>Created Date</th>
                    <th>Last Modified Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user._id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class="btn btn-success btn-xs">Activated</button>
                    </td>
                    <td>{{user.createdAt | date}}</td>
                    <td>{{user.updatedAt | date}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ng-click="userManagement.showUser(user);" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ng-click="userManagement.editUser(user);"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ng-click="userManagement.delete(user)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Yes or No?</h4>
                </div>
                <div class="modal-body">
                    <p>It's your call...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No
                    </button>
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showUser.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                             name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading">{{user.name}}</h3>
                    </div>
                    <hr>
                    <table class="table table-striped">
                        <span><strong>Role: </strong></span>
                        <span class="label label-warning">{{user.role}}</span>
                        <hr>
                        <tr class="media-heading">First Name: {{user.firstName}}</tr>
                        <hr>
                        <p class="media-heading">Last Name: {{user.lastName}}</p>
                        <hr>
                        <p class="media-heading">Email: {{user.email}}</p>
                        <hr>
                        <p class="media-heading">Activate: <span class="label label-success">{{user.activate || 'yes'}}</span></p>
                        <hr>
                        <p class="media-heading">Created At: {{user.createdAt | date}}</p>
                        <hr>
                        <p class="media-heading">Created By: System</p>
                    </table>
                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editUser.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="updateUserFrom" novalidate show-validation>
                        <md-input-container class="md-icon-float md-block">
                            <label>Name</label>
                            <input name="name" ng-model="user.name" type="text" required>
                            <div ng-messages="updateUserFrom.name.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must write a user name.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>First Name</label>
                            <input name="firstName" ng-model="user.firstName" type="text" required>

                            <div ng-messages="updateUserFrom.firstName.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must write a first name.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Last Name</label>
                            <input name="lastName" ng-model="user.lastName" type="text" required>

                            <div ng-messages="updateUserFrom.lastName.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must write a last name.</div>
                            </div>

                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Email</label>
                            <input ng-model="user.email" type="email">

                            <div ng-messages="updateUserFrom.lastName.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must write a last name.</div>
                            </div>

                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-switch class="md-primary" name="special" ng-model="user.activate">
                                Activate
                            </md-switch>
                        </md-input-container>
                        <!--<p class="media-heading">Role: <span class="label label-warning">{{user.role}}</span></p>-->
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="updateUser(updateUserFrom)">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="createUser.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate show-validation>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="userManagement.clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLabel">
                            Create a User</h4>
                    </div>
                    <div class="modal-body">

                        <md-input-container class="md-block" flex-gt-sm>

                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="user.name" ng-required="true" md-maxlength=50>

                            <div ng-messages="editForm.name.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a name.</div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>

                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control" name="firstName" ng-model="user.firstName"
                                   md-maxlength="15" required>

                            <div ng-messages="editForm.firstName.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a first name.</div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>

                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>

                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control" name="lastName" ng-model="user.lastName"
                                   md-maxlength="15" required>

                            <div ng-messages="editForm.lastName.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a last name.</div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>

                        </md-input-container>


                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="user.email"
                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

                            <div ng-messages="editForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail
                                    address.
                                </div>
                            </div>
                            <p class="help-block" ng-show="editForm.email.$error.sequelize">
                                {{ errors.email }}
                            </p>
                        </md-input-container>


                        <md-input-container class="md-block">
                            <md-switch class="md-primary" name="activated" ng-model="user.activated" required>
                                Activated.
                            </md-switch>
                            <div ng-messages="editForm.activated.$error" multiple>
                                <div ng-message="required">
                                    You must enable/disable activated.
                                </div>
                            </div>
                        </md-input-container>


                        <div class="form-group">
                            <label>Role</label>
                            <select required class="form-control" multiple name="authority" ng-model="user.role"
                                    ng-options="role.name for role in roles">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <md-button type="button" ng-click="close()" class="md-raised" data-dismiss="modal">Cancel
                        </md-button>
                        <md-button class="md-raised md-primary btn-large min-wid-200" ng-click="createUser(editForm)">
                            Create User
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
</script>
