<div class="container">
    <h2>Users</h2>
    <div class="row">
        <div class="col-md-4 padding-0">
            <button class="btn btn-primary" ng-click="userManagement.createUser();" >
                <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Email</th>
                <th>Profiles</th>
                <th>Created Date</th>
                <th>Last Modified By</th>
                <th>Last Modified Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>007</td>
                    <td>tarekahsan709@gmail.com</td>
                    <td>
                        <button class="btn btn-success btn-xs">Activated</button>
                    </td>
                    <td>tarek</td>
                    <td>12-12-2005</td>
                    <td>12-12-2005</td>
                    <td>12-12-2005</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ng-click="userManagement.showAModal();" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ng-click="userManagement.showAModal();"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ng-click="userManagement.showAModal();"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>

            </tbody>


        </table>
    </div>


</div>

<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Yes or No?</h4>
                </div>
                <div class="modal-body">
                    <p>It's your call...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="createUser.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="vm.clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLabel">
                            Create or edit a User</h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="vm.user.id" readonly>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Login</label>
                            <input type="text" class="form-control" name="login"
                                   ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

                            <div ng-show="editForm.login.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.login.$error.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.login.$error.maxlength"
                                >
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control" name="firstName"
                                   ng-model="vm.user.firstName" ng-maxlength="50">

                            <div ng-show="editForm.firstName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.firstName.$error.maxlength"
                                >
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lastName"
                                   ng-model="vm.user.lastName" ng-maxlength="50">

                            <div ng-show="editForm.lastName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lastName.$error.maxlength"
                                >
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" name="email"
                                   ng-model="vm.user.email" required ng-maxlength="100">

                            <div ng-show="editForm.email.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.email.$error.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.email.$error.maxlength"
                                >
                                    This field cannot be longer than 100 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.email.$error.email">
                                    Your e-mail is invalid.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="activated">
                                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.user.activated">
                                <span>Activated</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Profiles</label>
                            <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                                    ng-options="authority for authority in vm.authorities">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        >Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
        </div>
    </div>
</script>
