<div ng-init="employer.onInit();" class="paddingTop-10 container">

    <button type="button" ui-sref="employerSetUp" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add New Employer
    </button>

    <button type="button" ui-sref="designation" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-list">
        </i> Designation List
    </button>

    <table st-table="displayedCollection" st-safe-src="employer.employees" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="firstName">first name</th>
        </tr>
        <tr>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.employee_name}}</td>
            <td>
                <button type="button" ng-click="employer.removeItem(row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
